body{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 18px;
    background-color: rgb(75, 75, 75);
}

ul {
    list-style-type: none;
    padding-top: 2em;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

li.nav {
    display: inline;

    justify-content: center;
}

li.nav a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    display: inline-block;
    padding: 1em;
}

li.nav a:hover{
    text-decoration: underline 1px white;
    background-color: rgb(211, 170, 65);
}

.banner{
    width: 75%;
    height: 15em;
    align-items: center;
}

main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3em;
}

h1{
    color:rgb(211, 170, 65);
    font-size: 3em;
    margin: .5em;
}

h2{
    color:rgb(211, 170, 65);
    font-size: 2em;
    margin: 1em;
}

h3{
    color:rgb(211, 170, 65);
    font-size: 1.75em;
    margin: 1em;
}

h4{
    color:rgb(211, 170, 65);
    font-size: 1.5em;
    margin: 1em;
}

h5{
    color:rgb(211, 170, 65);
    font-size: 1.25em;
    margin: .5em;
}


p, form{
    font-size: 1.4em;
    line-height: 2em;
}

p a {
    color: white;
}

input, select{
    font-size: 1em;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

button{
    font-size: 1em;
}

#backToTop{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

#clear{
    margin-top: 1em;
    font-size: 1.5em;
}

#backToZone{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

#backToZone a{
    text-decoration: none;
    color: black;
}

button:hover,
.submit:hover{
    background-color: rgb(211, 170, 65);
    cursor: pointer;
}

.ygofield{
    width: 100%;
}

.greeting{
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.learning{
    font-size: 16px;
}

img{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}